<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Sentimento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis <span class="icon">💬</span></h1>
        <div class="boxes">
            <div class="box positive">
                <h2>Positive 😊</h2>
                <ul id="positiveList"></ul>
                <div id="positivePercentage" class="percentage">0%</div>
            </div>
            <div class="box negative">
                <h2>Negative 😞</h2>
                <ul id="negativeList"></ul>
                <div id="negativePercentage" class="percentage">0%</div>
            </div>
        </div>
        <form id="sentimentForm">
            <input type="text" name="texto" id="texto" placeholder="Enter your text..." required>
            <button type="submit">Analyze <span>🔍</span></button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
